body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color:lightgray;
    text-align: center;
}

div.container{
    margin-inline: 25%;

}


input.search{
    margin-bottom: 5px;
    border-radius: 8px;
}

textarea {
    width: 100%;
    height: 200px;
    margin-bottom: 10px;
    resize: none;
    border-radius: 8px;
}

button {
    cursor: pointer;
    border-radius: 8px;
}

div {
    margin-bottom: 10px;
}




@media (max-width: 600px) {
    div {
        flex-direction: column;
        align-items: flex-start;
    }

    div.container{
        margin-inline: 5%;
    }
}
